<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container" class="container-fluid">
      <header id="header" class="navbar navbar-fixed-top">
        <%= render '/refinery/header' -%>
      </header>
      <section id="page" class="row-fluid">
        <%= yield %>
      </section>
      <hr/>
      <footer class="row-fluid">
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
